nav-bar#navbar-directive
    #navbar-spacer
    #navbar-container.fixed
        .default-container
            a.navbar-brand(href='/' style="color:white; ") Tech Offtopic
            .navbar-right
                a(href='#')
                    img#navbar-logo(src="images/circle.jpg")