nav-bar#navbar-directive
    #navbar-spacer
    #navbar-container.fixed
        .default-container
            a.navbar-brand(href='/') Tech Offtopic
            .navbar-right
                a(href='https://www.bigpipe.co.nz/')
                    img#navbar-logo(src="https://www.bigpipe.co.nz/assets/images/904bad3a.bigpipe-logo-inverse.png")