#slider.sl-slider-wrapper.demo-1
    .sl-slider
        .sl-slide.bg-1(data-orientation='horizontal', data-slice1-rotation='-25', data-slice2-rotation='-25', data-slice1-scale='2', data-slice2-scale='2')
            .sl-slide-inner
                .deco(data-icon='H')
                h2 DANK MEMES
                //blockquote
                //    p
                //        | You have just dined, and however scrupulously the slaughterhouse is concealed in the graceful distance of miles, there is complicity.
                //    cite Ralph Waldo Emerson
        .sl-slide.bg-2(data-orientation='vertical', data-slice1-rotation='10', data-slice2-rotation='-15', data-slice1-scale='1.5', data-slice2-scale='1.5')
            .sl-slide-inner
                .deco(data-icon='q')
                h2 BEST TROLLS
                //blockquote
                //    p
                //        | Until he extends the circle of his compassion to all living things, man will not himself find peace.
                //    cite Albert Schweitzer
        .sl-slide.bg-3(data-orientation='horizontal', data-slice1-rotation='3', data-slice2-rotation='3', data-slice1-scale='2', data-slice2-scale='1')
            .sl-slide-inner
                .deco(data-icon='O')
                h2 NEWFAGS
                //blockquote
                //    p
                //        | Thousands of people who say they 'love' animals sit down once or twice a day to enjoy the flesh of creatures who have been utterly deprived of everything that could make their lives worth living and who endured the awful suffering and the terror of the abattoirs.
                //    cite Dame Jane Morris Goodall
        .sl-slide.bg-4(data-orientation='vertical', data-slice1-rotation='-5', data-slice2-rotation='25', data-slice1-scale='2', data-slice2-scale='1')
            .sl-slide-inner
                .deco(data-icon='I')
                h2 Bigpipe Propaganda
                //blockquote
                //    p
                //        | The human body has no more need for cows' milk than it does for dogs' milk, horses' milk, or giraffes' milk.
                //    cite Michael Klaper M.D.
        //.sl-slide.bg-5(data-orientation='horizontal', data-slice1-rotation='-5', data-slice2-rotation='10', data-slice1-scale='2', data-slice2-scale='1')
        //    .sl-slide-inner
        //        .deco(data-icon='t')
        //        h2 Acta Non Verba
        //        blockquote
        //            p
        //                | I think if you want to eat more meat you should kill it yourself and eat it raw so that you are not blinded by the hypocrisy of having it processed for you.
        //            cite Margi Clarke
    // /sl-slider
    nav#nav-arrows.nav-arrows
        span.nav-arrow-prev Previous
        span.nav-arrow-next Next

.default-container
    .row
        .col-sm-12.slide-nav
            ul#slide-tabs.relative.hidden-xs
                // ngRepeat: slide in slideshowModel.slides
                li.slide-tab.relative.ng-scope.current(ng-repeat='slide in slideshowModel.slides', style='width: 25%;')
                    a.slide-tab-link.bold.relative(data-id='0')
                        span.absolute.slide-table
                            span.slide-table-cell.ng-binding(ng-bind-html='slide.slideLabelText')
                                | GET 1 MONTH FREE
                                br
                                | BIGPIPE + LIGHTBOX DEAL
                // end ngRepeat: slide in slideshowModel.slides
                li.slide-tab.relative.ng-scope(ng-repeat='slide in slideshowModel.slides', style='width: 25%;')
                    a.slide-tab-link.bold.relative(data-id='1')
                        span.absolute.slide-table
                            span.slide-table-cell.ng-binding(ng-bind-html='slide.slideLabelText')
                                | OUR MOST
                                br
                                | POPULAR PLAN
                // end ngRepeat: slide in slideshowModel.slides
                li.slide-tab.relative.ng-scope(ng-repeat='slide in slideshowModel.slides', style='width: 25%;')
                    a.slide-tab-link.bold.relative(data-id='2')
                        span.absolute.slide-table
                            span.slide-table-cell.ng-binding(ng-bind-html='slide.slideLabelText')
                                | FIBRE
                                br
                                | PROMOTION
                // end ngRepeat: slide in slideshowModel.slides
                li.slide-tab.relative.ng-scope(ng-repeat='slide in slideshowModel.slides', style='width: 25%;')
                    a.slide-tab-link.bold.relative(data-id='3')
                        span.absolute.slide-table
                            span.slide-table-cell.ng-binding(ng-bind-html='slide.slideLabelText')
                                | BIGPIPE
                                br
                                | BENEFITS
                // end ngRepeat: slide in slideshowModel.slides



