doctype html
html
  head
    title= title
    link(rel="stylesheet" href="stylesheets/bootstrap.min.css")
    link(rel="stylesheet" href="stylesheets/app.css")
    script(src="js/modernizr.js")
    link(rel="stylesheet" href="https://www.bigpipe.co.nz/app/0814c463.app.css")


  body
    include bigpipenav
    block content
    script(src="https://code.jquery.com/jquery-1.12.0.min.js")
    //script(src="https://code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin = "anonymous")
    script(src="js/ba-cond.js")
    script(src="js/slider.js")
    script(src="js/other.js")
