.lazerkiwi{
    background-image: url("../images/lazerkiwi.png");
    width: 100%;
    height: 298px;
}
nav{
    margin-bottom: 0px;
}
.no-pad{
    padding-left: 0px;
    padding-right: 0px;
}
.stats{
    display: inline-block;
    margin: 0 auto;
}